# pixi environments
.pixi/*
!.pixi/config.toml

*.log
*.db*
*.gdb
*.pyc

*.txt
*.csv
*.xlsx
*.xls
*.html
*.zip
*.nc
*.tif
*.gpkg
*.parquet

*.png
*.jpg

.pixi/

*.pyc
__pycache__/

data/*              # ignore everything in data/
!data/input/            # except the input/ directory
data/input/*                # now ignore everything inside input/
!data/input/models          # except the models/ directory
!data/output/           # except the output/ directory
!data/processed/        # except the processed/ directory
!data/check/            # except the check/ directory
!data/**/.gitkeep

figures/**
!figures/**/
!figures/**/.gitkeep

log/**
!log/**/
!log/**/.gitkeep

download/
