# pixi environments
.pixi/*
!.pixi/config.toml

*.log
*.db*
*.gdb
*.pyc

*.txt
*.csv
*.xlsx
*.xls
*.html
*.zip
*.nc
*.tif
*.gpkg

*.png
*.jpg

data/input/**
!data/input/**/
!data/input/**/.gitkeep

data/output/**
!data/output/**/
!data/output/**/.gitkeep

data/processed/**
!processed/output/**/
!processed/output/**/.gitkeep

data/check/**
!data/check/**/
!data/check/**/.gitkeep

figures/**
!figures/**/
!figures/**/.gitkeep

log/**
!log/**/
!log/**/.gitkeep

download/
